@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background: -webkit-linear-gradient(55deg, #009785 0%, #245AA5 50%, #B800E9 100%);
  background-attachment: fixed;
  color: white;
}

.tablecell {
  display: table-cell;
}

a {
  color: white;
}

.container {
  box-sizing: border-box;
}
  #container-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .container-dark {
    background-color: Black;
    opacity: 0.6;
  }
  
  #info-panel {
    position: absolute;
    width: 80vw;
    height: 60vh;
    left: 10vw;
    top: 10vh;
    padding: 5vh 5vh;
    background: -webkit-linear-gradient(55deg, #009785 0%, #245AA5 50%, #B800E9 90%);
    background-attachment: fixed;
    border: 1px solid #009785;
    border-radius: 6px;
    box-sizing: border-box; 
    z-index: 99;
    visibility: hidden;
    overflow: auto;
    opacity: 0.95;
  }
    .info-message {
      font-size: 24px;
      font-weight: 350; 
    }

  #settings-panel {
    position: absolute;
    width: 80vw;
    height: 60vh;
    left: 10vw;
    top: 10vh;
    padding: 3vh 2vw;
    background: white;
    border: 1px solid #009785;
    border-radius: 6px;
    box-sizing: border-box; 
    z-index: 99;
    visibility: hidden;
    overflow: auto;
  }
    #settings-iframe {
      position: absolute;
      right: 2vw;
      width: 76vw;
      height: 80%;
      background: white;
      margin-bottom: 2vh;
    }
    #buttons-settings {
      position: absolute;
      right: 2vw;
      bottom: 2vh;
    }
    .btn {
      display: inline-block;
      margin-bottom: 0px;
      margin-left: 1vw;
      width: 6vw;
      font-size: 15px;
      line-height: 4vh;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      border-width: 1px;
      border-style: solid;
      border-color: darkgrey;
      border-image: initial;
      border-radius: 4px;
      color: black;
    }

  #weather {
    position: absolute;
    left: 10px;
    width: 350px
  }
    #weather-temperature {
      display: inline-block;
      font-size: 50px;
      font-weight: 500;
      line-height: 50px;
    }
    #weather-temperature:after {
      content: "°";
    }
    #weather-state-icon {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-left: 0;
      margin-right: auto;
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      background-size: 50px;
    }

  #sun-events {
    display: inline-block;
    /*left: 128px;
    width: 128px*/
  }
  #sunrise, #sunset {
    display: inline-block;
  }
    #sunrise-icon, #sunset-icon {
      width: 40px;
      height: 40px;
      margin-left: 0;
      margin-right: auto;
      background: no-repeat center center;
      background-size: contain;
    }
    #sunrise-icon {
      background-image: url(../img/sunrise.png);
    }
    #sunset-icon {
      background-image: url(../img/sunset.png);
    }
    #sunrise-time, #sunset-time {
      position: relative;
      margin-left: 0;
      margin-right: auto;
      font-size: 16px;
      line-height: 10px;
    }

  #nav {
    position: absolute;
    right:0;
    width: 128px;
  }

  
  #text {
    text-align: center;
  }
    #text-large {
      font-size: 44px;
      font-weight: 700;  
      margin-top: 20px;
    }
    #text-large:after {
      content: "";
      display: block;
      height: 1px;
      background: white;
      width: 200px;
      margin: auto;
      margin: 10px auto;
    }
    #text-small {
      font-size: 14px;
      font-weight: 500;
    }

  #details {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 290px;
  }
    #version-icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-left: auto;
      margin-right: 0;
      background: white;
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      -webkit-mask-image: url(../img/new.png);
      visibility: hidden;    
    }
    #battery-details {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-left: auto;
      margin-right: 0;
      background: white;
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      -webkit-mask-image: url(../img/battery.png);
    }
      #battery-details.alarm {
        background-color: red;
      }
    #notification-details{
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-left: auto;
      margin-right: 0;
      background: white;
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      -webkit-mask-image: url(../img/notification.png);
    }
      #notification-details.alarm {
        background-color: orange;
      }
    #sensor-details{
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-left: auto;
      margin-right: 0;
      background: white;
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      -webkit-mask-image: url(../img/warning.png);
    }
      #sensor-details.alarm {
        background-color: orange;
      }
      #sensor-details.fault {
        background-color: red;
      }
    #settings-icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-left: auto;
      margin-right: 0;
      background: white;
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      -webkit-mask-image: url(../img/settings.png);
      }
    #logo {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-left: auto;
      margin-right: 0;
      background:  no-repeat center center;
      background-image: url(../img/logo-white.png);
      background-size: contain;
    }

  .favorites {
    
  }
    .favorites h2 {
      display: block;
      width: 1000px;
      font-size: 18px;
      font-weight: 300;
      padding-bottom: 12px;
      margin-bottom: 15px;
      color: white;
    }
    .favorites h2:after {
      content: "";
      display: block;
      height: 1px;
      background: linear-gradient(to right, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
    }
    .favorites-inner {
      font-size: 0;
      overflow-x: hidden;
      white-space: nowrap;
      overflow: hidden;
      -webkit-mask-image: linear-gradient(to right, #000000 90%, rgba(0,0,0,0) 100%);
    }
  
  #flows {
  }
    .flows {
    }
      .flow {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        white-space: nowrap;
        height: 64px;
        border: none;
        border-radius: 64px;
        overflow: hidden;
        font-size: 0;
        margin-right: 24px;
        background: rgba(255,255,255,0.25);
        box-shadow: 0 2px 2px rgba(0,0,0,0.1);
      }
      .flow.running:before {
        content: "✓";
        color: white;
        text-align: center;
        line-height: 64px;
        display: block;
        background-color: white;
        color: #61CC38;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        font-size: 32px;
      }
        .flow .play {
          display: inline-block;
          vertical-align: middle;
          width: 64px;
          height: 64px;
          background: url(../img/play.png) no-repeat center center;
          background-size: contain;
          background-image: url(../img/play-color.png);
        }
        .flow .name {
          display: inline-block;
          vertical-align: middle;
          height: 64px;
          line-height: 64px;
          font-size: 28px;
          font-weight: 700;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 20px;
          padding-right: 30px;
          max-width: 300px;
          color: white;
        }
     
  #devices {
    
  }
    .devices {
      overflow-y: visible;
    }
      .device {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 100px;
        height: 100px;
        border: 2px solid black;
        background-color: white;
        border: none;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
        border-radius: 16px;
        box-sizing: border-box;
        padding: 12px;
        margin-right: 12px;
        opacity: 0.5;
        -webkit-user-select: none;
      }
        .device.on {
          opacity: 1;
        }
        .device.alarm {
          background-color: orange;
        }
        .device.away {
          opacity: 0.5;
        }
        .device.push {
          background-color: grey;
        }
        .device.push-long {
          background-color: darkgrey;
        }
        .device .icon {
          width: 45px;
          height: 45px;
          background: black;
          margin-bottom: 3px;
          -webkit-mask-size: contain;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-position: center center;
          -webkit-user-select: none;
        }
        .device .icon-capability {
          position: absolute;
          top: 30px;
          left: 15px;
          width: 35px;
          height: 35px;
          background: black;
          margin-bottom: 3px;
          -webkit-mask-size: contain;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-position: center center;
          -webkit-user-select: none;
        }
        .device .value {
          position: absolute;
          top: 15px;
          right: 12px;
          width: 100%;
          font-size: 18px;
          height: 42px;
          line-height: 18px;
          font-weight: 300;
          vertical-align: text-top;
          overflow: hidden;
          white-space: normal;
          text-overflow: ellipsis;
          -webkit-user-select: none;
          color: black;
          text-align: right;
        }
        #decimal {
          font-size: 14px;
          vertical-align: text-top;
          -webkit-user-select: none;
        }
        .device .value.hidden {
          visibility: hidden;
        }
        .device .name {
          position: absolute;
          bottom: 12px;
          left: 12px;
          right: 12px;
          width: 86%;
          height: 100%;
          max-height: 14px;
          font-size: 14px;
          line-height: 15px;
          font-weight: 300;
          overflow: hidden;
          white-space: normal;
          text-overflow: ellipsis;
          -webkit-user-select: none;
          color: black;
        }
        .device .name.highlight {
          font-weight: 1000;
        }