@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
    font-family: Roboto, Helvetica, sans-serif;
}

fieldset {
    border-width: 1px;
    border-style: solid;
    border-color: #fafafa;
    border-radius: 4px;
}

.desc {
    display: inline-block;
}

.setting {
    display: inline-block;
}

.language {
    display: inline-block;
    width: 17vw;
    border-width: 1px;
    border-style: solid;
    border-color: darkgrey;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 8px;
    line-height: 18px;
}
    .language.selected {
        background: #4BD762;
    }
    .language.push {
        background-color: grey;
    }

.theme {
    display: inline-block;
    width: 29vw;
    border-width: 1px;
    border-style: solid;
    border-color: darkgray;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 8px;
    line-height: 18px;
}
    .theme.selected {
        background: #4BD762;
    }
    .theme.push {
        background-color: grey;
    }

#version {
    font-size: 1vw;
    color: darkgray;
}